header {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
  font-size: 14px;
}

li:hover {
  opacity: 0.8;
}

.logo {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
}


.form-control {
  background-color: rgba(218, 209, 209, 0.322);
  height: 50px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #E7E7E7;
  margin-bottom: 30px;
  position: relative;
}

.relative-search {
  position: relative;
}

.form-control:focus {
  box-shadow: none;
  border-color: none;
  border-color: brown;
}

.search-icon {
  font-size: 22px;
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
}

.word-selected {
    background-color: #3282F7;
    color: white;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    padding: 12px;
}

.delete-cross {
  font-size: 14px;
  margin-left: 7px;
  cursor: pointer;
}

.buttons-container {
  margin-top: 22px;
  color: white;
  display: flex;
  max-height: 40vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  position: relative;
}

.button-container:nth-child(1) {
  margin-left: 0;
}


.button {
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 50px;
  width: 110px;
  text-align: start;
  border: none;
  padding-left: 20px;
  color: white;
  outline: none;
}

.button::placeholder {
  color: white;
}

.first-button, .first-button:focus, .first-dropdown {
  background-color :#3282F7;
  border-color: #3282F7;
}

.second-button, .second-dropdown {
  background-color: #68D9A4;
}

.third-button, .third-dropdown {
  background-color: #ED6454;
}

.dropdown {
  width: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dropdown-flex {
  display: flex;
}

.list-container {
  width: 40vw;
  height: auto;
  max-height: 30vh;
  position: absolute;
  top: 46px;
  z-index: 10;
  padding-top: 15px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.4rem;
}

@media screen and (max-width: 992px) {
  .lists {grid-template-columns: repeat(2, 1fr);}
}

@media screen and (max-width: 768px) {
  .lists {grid-template-columns: repeat(1, 1fr);}
}

.ingredient-list-container {
  background-color: #3282F7;
  display: none;
}

.ingredient-list {
  list-style-type: none;
}

.ingredient-list:nth-child(1) {
  margin-left: -13px;
}

.device-list-container {
  background-color: #68D9A4;
}

.ustensils-list-container {
  background-color: #ED6454;
}

.card {
  margin-top: 24px;
  height: 350px;
  transition: all 250ms;
  animation: 1000ms forwards apparition;
}


.card:nth-child(3n+0) {
  margin-right: 0;
}

.card:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card-top {
 background-color: #C7BEBE;
 height: 50%;
}

.card-body {
  background-color: #E7E7E7;
  display: flex;
  height: 50%;
}

.card-body-left {
  flex-grow: 1;
  overflow: hidden;
}

.card-body-right, .card-body-left {
  width: 50%;
}

.card-title, .card-time {
  font-size: 16px;
  margin-bottom: 15px;
}

.card-recipe, .card-instructions-block {
  font-size: 10px;
}

.card-time-block {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  align-items: baseline;
}

.card-time {
  text-align: right;
  font-size: 20px;
  margin-left: 7px;
}

.card-title {
  overflow: hidden;
  white-space: break-spaces;
}

.card-ingredient-block {
  display: flex;
  font-size: 10px;
}

.card-instructions-block {

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;

}

.error-message {
  display: none;
}

.ingredient, .quantity, .unit {
  margin: 0;
}

.ingredient {
  font-weight: bold;
}

.quantity {
  margin-left: 3px;
}

.quantity, .unit {
  font-weight: 500;
}

@keyframes apparition {
  from {opacity: 0;}
  to {opacity: 1;}
}